@import "nord.css"
/* Variable Definitions */

* {
    /* Base colors */
    -base-background-color: -nord0;
    -base-background-light-color: -nord1;
    -base-highlight-color: -nord2;
    -base-highlight-light-color: -nord3;
    -base-alt-highlight-color: -nord10;
    -base-alt-highlight-light-color: -nord9;
    -base-font-color: -nord4;
    -base-font-highlight-color: -nord4;
    -base-colorful-component-color: -nord11;
    -base-alt-colorful-component-color: -nord12;

    -base-separator-line-color: derive(-base-background-color, -15%);
}

.root {
    /* Disable default blue glow focus indicator */
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/*** MENU ***/

/* Menu-bar */

.menu-bar {
    -fx-background-color: -base-background-color;
    -fx-padding: 0;
}

/* Menu-bar buttons */

.menu-bar .menu-button {
    -fx-background-color: -base-background-color;
}

/* Menu-bar buttons (hovered, showing submenus) */

.menu-bar .menu-button:hover, .menu-bar .menu-button:showing {
    -fx-background-color: -base-alt-highlight-color;
}

/* Menu-bar button labels */

.menu-bar .menu-button .label {
    -fx-text-fill: -base-font-color;
    -fx-font-size: 12 pt;
}

/* Menu-bar button (hovered, showing submenus) labels */

.menu-bar .menu-button:hover .label, .menu-bar .menu-button:showing .label {
    -fx-text-fill: -base-font-highlight-color;
}

/* Menu-items */

.menu-item {
    -fx-background-color: -base-background-color;
}

/* Menu-items (focused, hovered) */

.menu-item:focused, .menu-item:hovered {
    -fx-background-color: -base-highlight-color;
}

/* Menu-items labels */

.menu-item .label {
    -fx-text-fill: -base-font-color;
    -fx-font-size: 12 pt;
}

/* Menu-items (focused, hovered) labels */

.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: -base-font-highlight-color;
}

/* Check-menu-items (checked) */

.check-menu-item:checked {
    -fx-mark-color: -base-font-color;
}

/*** CONTEXT MENU ***/

/* context menu */

.context-menu {
    -fx-padding: 0;
    -fx-background-color: -base-background-color;
}

/*** BUTTONS - default button styling ***/

/* buttons (focused, armed) */

.button, .button:focused, .button:armed {
    -fx-background-color: transparent;
    -fx-text-fill: -base-font-color;
    -fx-background-insets: 0;
}

/* button (hovered) */

.button:hover {
    -fx-background-color: -base-highlight-color;
    -fx-text-fill: -base-font-highlight-color;
    -fx-background-insets: 0;
}

/* button (pressed) */

.button:pressed {
    -fx-background-color: -base-highlight-light-color;
    -fx-text-fill: -base-font-highlight-color;
    -fx-background-insets: 0;
}

/* delete button on BoundingBox Type selector items */

.delete-button {
    -fx-padding: 0;
    /*-fx-max-width: 18px;
    -fx-max-height: 18px;
    -fx-min-width: 18px;
    -fx-min-height: 18px;
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;*/
}

/* delete button (hovered) */

.delete-button:hover {
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%, -base-background-light-color, transparent);
}

/* delete button icon */

.delete-button .icon {
    -fx-background-color: -base-background-color;
    -fx-max-width: 10px;
    -fx-max-height: 10px;
    -fx-min-width: 10px;
    -fx-min-height: 10px;
    -fx-pref-width: 10px;
    -fx-pref-height: 10px;
    -fx-shape: "M46.57552,37.24219c-3.79795,0.001 -7.21662,2.30305
 -8.64576, 5.82185c-1.42914, 3.5188 -0.58376, 7.55267 2.13794, 10.20158l58.73438, 58.73438l -58.73438, 58.73438c-2.43822, 2.34096 -3.42039, 5.81715 -2.56772, 9.08793c0.85267, 3.27078 3.40694, 5.82504 6.67771, 6.67771c3.27078, 0.85267 6.74697, -0.1295 9.08793, -2.56772l58.73438, -58.73438l58.73438, 58.73438c2.34095, 2.43825 5.81716, 3.42044 9.08795, 2.56778c3.27079, -0.85266 5.82507, -3.40694 6.67774, -6.67774c0.85266, -3.27079 -0.12953, -6.747 -2.56778, -9.08795l-58.73438, -58.73438l58.73438, -58.73438c2.76043, -2.68325 3.59043, -6.78595 2.09006, -10.33119c-1.50037, -3.54524 -5.02332, -5.80573 -8.8713, -5.69225c-2.42479, 0.07225 -4.7262, 1.08566 -6.41667, 2.82552l-58.73438, 58.73438l-58.73438, -58.73438c-1.7572, -1.80631 -4.17009, -2.82537 -6.6901, -2.82552z";

}

/* delete button (hovered) icon */

.delete-button:hover .icon {
    -fx-background-color: -base-alt-colorful-component-color;
}

/* selectionRectangle */

.selectionRectangle {
    -fx-fill: transparent;
    -fx-stroke-width: 3px;
}

/* Top panel (includes the menu-bar) */
.top-panel {
    -fx-background-color: -base-background-color;
}

/* settings box (right side panel) */

.settings-box {
    -fx-background-color: -base-background-color;
    -fx-padding: 0 15px;
}

/* separators */

.separator .line{
    -fx-border-width: 1px;
    -fx-border-color: -base-separator-line-color;
}

/* For SeparatorMenuItems */
.context-menu .separator:horizontal .line {
    -fx-border-color: -base-background-light-color;
    -fx-border-width: 1px;
    -fx-border-insets: 0;
}

/* tool bar */

.tool-bar {
    -fx-background-color: -base-background-color;
    -fx-padding: 0 5px;
}

#image-settings-menu-button {
     -fx-max-width: 15px;
     -fx-max-height: 15px;
     -fx-min-width: 15px;
     -fx-min-height: 15px;
     -fx-pref-width: 15px;
     -fx-pref-height: 15px;
     -fx-background-color: -base-font-color;
     -fx-shape: "M 9.6660156 2 L 9.1757812 4.5234375 C 8.3516137 4.8342536 7.5947862 5.2699307 6.9316406 5.8144531 L 4.5078125 4.9785156 L 2.171875 9.0214844 L 4.1132812 10.708984 C 4.0386488 11.16721 4 11.591845 4 12 C 4 12.408768 4.0398071 12.832626 4.1132812 13.291016 L 4.1132812 13.292969 L 2.171875 14.980469 L 4.5078125 19.021484 L 6.9296875 18.1875 C 7.5928951 18.732319 8.3514346 19.165567 9.1757812 19.476562 L 9.6660156 22 L 14.333984 22 L 14.824219 19.476562 C 15.648925 19.165543 16.404903 18.73057 17.068359 18.185547 L 19.492188 19.021484 L 21.826172 14.980469 L 19.886719 13.291016 C 19.961351 12.83279 20 12.408155 20 12 C 20 11.592457 19.96113 11.168374 19.886719 10.710938 L 19.886719 10.708984 L 21.828125 9.0195312 L 19.492188 4.9785156 L 17.070312 5.8125 C 16.407106 5.2676813 15.648565 4.8344327 14.824219 4.5234375 L 14.333984 2 L 9.6660156 2 z M 11.314453 4 L 12.685547 4 L 13.074219 6 L 14.117188 6.3945312 C 14.745852 6.63147 15.310672 6.9567546 15.800781 7.359375 L 16.664062 8.0664062 L 18.585938 7.40625 L 19.271484 8.5917969 L 17.736328 9.9277344 L 17.912109 11.027344 L 17.912109 11.029297 C 17.973258 11.404235 18 11.718768 18 12 C 18 12.281232 17.973259 12.595718 17.912109 12.970703 L 17.734375 14.070312 L 19.269531 15.40625 L 18.583984 16.59375 L 16.664062 15.931641 L 15.798828 16.640625 C 15.308719 17.043245 14.745852 17.36853 14.117188 17.605469 L 14.115234 17.605469 L 13.072266 18 L 12.683594 20 L 11.314453 20 L 10.925781 18 L 9.8828125 17.605469 C 9.2541467 17.36853 8.6893282 17.043245 8.1992188 16.640625 L 7.3359375 15.933594 L 5.4140625 16.59375 L 4.7285156 15.408203 L 6.265625 14.070312 L 6.0878906 12.974609 L 6.0878906 12.972656 C 6.0276183 12.596088 6 12.280673 6 12 C 6 11.718768 6.026742 11.404282 6.0878906 11.029297 L 6.265625 9.9296875 L 4.7285156 8.59375 L 5.4140625 7.40625 L 7.3359375 8.0683594 L 8.1992188 7.359375 C 8.6893282 6.9567546 9.2541467 6.6314701 9.8828125 6.3945312 L 10.925781 6 L 11.314453 4 z M 12 8 C 9.8034768 8 8 9.8034768 8 12 C 8 14.196523 9.8034768 16 12 16 C 14.196523 16 16 14.196523 16 12 C 16 9.8034768 14.196523 8 12 8 z M 12 10 C 13.111477 10 14 10.888523 14 12 C 14 13.111477 13.111477 14 12 14 C 10.888523 14 10 13.111477 10 12 C 10 10.888523 10.888523 10 12 10 z";
}

#image-settings-menu-button .menu-item {
    -fx-padding: 10px 10px;
}

#image-settings-menu-button > .arrow-button {
 -fx-padding: 0;
}

#image-settings-menu-button > .arrow-button > .arrow {
 -fx-padding: 0;
}

#image-settings-menu-button:hover {
-fx-background-color: -base-alt-highlight-color;
}

/* underline mnemonic */

.mnemonic-underline {
    -fx-stroke: -base-font-color;
}

/* color-picker button */

.color-picker {
    -fx-color-label-visible: false;
    -fx-color: transparent;
    -fx-background-color: transparent;
}

/* color-picker (hovered) */

.color-picker:hover {
    -fx-background-color: -base-highlight-color;
}

/* color-picker arrow */

.color-picker .arrow-button .arrow {
    -fx-background-color: -base-font-color;
}

/* color-picker context */

.color-picker .context-menu {
    -fx-background-color: transparent;
}

/* color-picker text label */

.color-picker .color-picker-label .text {
    -fx-fill: -base-font-color;
}

/* color palette */

.color-palette {
    -fx-background-color: -base-background-color;
}

.color-palette .text {
    -fx-fill: -base-font-color;
}

.color-palette .text:hover {
    -fx-fill: -base-alt-highlight-light-color;
}

/* custom color dialog window */

.custom-color-dialog {
    -fx-background-color: -base-background-color;
    -fx-color: -base-background-light-color;
}

.custom-color-dialog .color-rect-pane .color-rect-border {
    -fx-border-color: -base-background-color;
}

.custom-color-dialog .color-rect-pane .color-bar {
    -fx-border-color: -base-background-color;
}

.custom-color-dialog>.color-rect-pane>.color-bar>#color-bar-indicator {
    -fx-border-color: -base-font-color;
}

.custom-color-dialog .controls-pane .current-new-color-grid #current-new-color-border {
    -fx-border-color: -base-highlight-color;
}

.custom-color-dialog .controls-pane .customcolor-controls-background {
    -fx-background-color: -base-highlight-color, -base-background-light-color;
}

/* slider */

.slider .track {
    -fx-control-inner-background: -base-font-color;
    -fx-padding: 2;
}

.slider .thumb {
    -fx-background-color: -base-alt-highlight-color;
    -fx-effect: none;
}

.slider .thumb:hover {
    -fx-background-color: -base-font-color;
}

.slider .thumb:pressed {
    -fx-background-color: -base-font-color;
}

/* label */

.label {
    -fx-text-fill: -base-font-color;
    -fx-font-size: 14 pt;
}

/* side-panel */

.side-panel {
    -fx-background-color: -base-background-color;
    -fx-padding: 3px 5px 0 5px;
    -fx-pref-width: 260px;
    -fx-min-width: 260px;
}

/* table-view */

.table-view {
    -fx-background-color: transparent;
    -fx-color: -base-background-color;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

/* table view scroll bars */

.table-view .scroll-bar, .table-view .scroll-bar .track, .table-view .scroll-bar .track-background {
    -fx-background-color: transparent;
    -fx-effect: none;
}

.table-view .scroll-bar .thumb {
    -fx-background-color: -base-font-color;
}

.table-view .scroll-bar .thumb:hover {
    -fx-background-color: -base-alt-highlight-color;
}

.table-view .scroll-bar:vertical .decrement-button, .table-view .scroll-bar:vertical .increment-button {
    -fx-padding: 0 1px;
    -fx-opacity: 0;
}

.table-view .scroll-bar:horizontal .decrement-button, .table-view .scroll-bar:horizontal .increment-button {
    -fx-padding: 1px 0;
    -fx-opacity: 0;
}

/* table-view cells */

.table-view .table-cell {
    -fx-text-fill: -base-font-color;
}

.table-row-cell {
    -fx-background-color: -base-background-color, -base-background-light-color;
    -fx-table-cell-border-color: transparent;
    -fx-border-width: 0;
}

.table-row-cell:selected .table-cell {
    -fx-background-color: -base-highlight-light-color;
    -fx-text-fill: -base-font-color;
}

.table-row-cell:selected .table-cell:selected {
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0;
}

.table-row-cell:hover {
    -fx-background-color: -base-highlight-color;
}

.noheader-table-view {
    /*-fx-max-width: 200px;*/
    -fx-max-height: 300px;
}

.noheader-table-view .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

/* table input controls */

.table-view-input-controls {
    /*-fx-padding: 0 5px;*/
}

/* text fields */

.text-field {
    -fx-background-color: -base-highlight-light-color;
    -fx-text-fill: -base-font-color;
    -fx-background-radius: 0;
    -fx-accent: -base-alt-highlight-color;
}

.text-field-table-cell .text-field {
    -fx-padding: 0;
}

.text-field-table-cell .color-picker {
    -fx-padding: 0;
}

/* pane */

.pane {
    -fx-background-color: -base-background-light-color;
}

.settings-item-box {
    -fx-padding: 20px 0;
}

.bounding-box-name-text-field {
}

.bounding-box-color-picker {
    -fx-max-width: 50px;
    -fx-max-height: 25px;
}

.bounding-box-tree-view {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}


.bounding-box-tree-view .tree-cell {
    -fx-background-color: -base-background-light-color;
    -fx-text-fill: -base-font-color;
}

/* tree-view */

.tree-view {
    -fx-background-color: -base-background-light-color;
}

.tree-cell > .tree-disclosure-node > .arrow,
.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-rotate: 0;
    -fx-background-color: -base-font-color;
}

.tree-cell:expanded > .tree-disclosure-node > .arrow,
.tree-table-row-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-rotate: 90;
}

.tree-view .scroll-bar,
.tree-view .scroll-bar .track,
.tree-view .scroll-bar .track-background {
    -fx-background-color: transparent;
    -fx-effect: none;
}

.tree-view .scroll-bar .thumb {
    -fx-background-color: -base-font-color;
}

.tree-view .scroll-bar .thumb:hover {
    -fx-background-color: -base-alt-highlight-color;
}

.tree-view .scroll-bar:vertical .decrement-button, .tree-view .scroll-bar:vertical .increment-button {
    -fx-padding: 0 1px;
    -fx-opacity: 0;
}

.tree-view .scroll-bar:horizontal .decrement-button, .tree-view .scroll-bar:horizontal .increment-button {
    -fx-padding: 1px 0;
    -fx-opacity: 0;
}

.tree-view .tree-cell {
    -fx-padding: 0.1em 0;
}

.tree-view .tree-cell:hover {
    -fx-background-color: -base-highlight-color;
}

.tree-view .tree-cell:selected{
    -fx-background-color: -base-highlight-light-color;
}

.tree-view .tree-cell:empty {
    -fx-background-color: transparent;
}

/* progress indicator */

.progress-indicator {
    -fx-background-color: transparent;
    -fx-accent: -base-font-color;
}

/* bottom bar */
.status-panel {
    -fx-background-color: -base-background-color;
    -fx-padding: 5px;
}

/* context-menu menu-item */
#delete-context-menu:hover {
    -fx-background-color: -base-colorful-component-color;
    -fx-accent: -base-background-color;
}

#toggle-icon-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

#toggle-icon-button:hover {
    -fx-background-color: -base-highlight-color;
}

.image-explorer-side-panel{
    -fx-background-color: -base-background-color;
    -fx-padding: 2px 0 0 0;
    -fx-pref-width: 300px;
    -fx-min-width: 300px;
}

.list-view{
    -fx-background-color: transparent;
    -fx-color: -base-background-color;
}

.list-view:focused {
    -fx-background-color: transparent;
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -base-font-color;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.list-view .list-cell:empty {
    -fx-opacity: 0;
}

.list-view .list-cell:selected,
.list-view .list-cell:selected {
    -fx-background-color: -base-colorful-component-color;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused{
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

/* split-pane */
.split-pane {
    -fx-background-color: -base-background-light-color;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: -base-separator-line-color;
   -fx-background-insets: 0;
   -fx-padding: 1px;
}

/* Image settings */
#brightness-label {
     -fx-max-width: 15px;
     -fx-max-height: 15px;
     -fx-min-width: 15px;
     -fx-min-height: 15px;
     -fx-pref-width: 15px;
     -fx-pref-height: 15px;
     -fx-background-color: -base-font-color;
     -fx-shape: "M 11 0 L 11 3 L 13 3 L 13 0 L 11 0 Z M 4.22266 2.80859 L 2.80859 4.22266 L 4.92969 6.34375 L 6.34375 4.92969 L 4.22266 2.80859 Z M 19.7773 2.80859 L 17.6563 4.92969 L 19.0703 6.34375 L 21.1914 4.22266 L 19.7773 2.80859 Z M 12 5 C 8.14585 5 5 8.14585 5 12 C 5 15.8541 8.14585 19 12 19 C 15.8541 19 19 15.8541 19 12 C 19 8.14585 15.8541 5 12 5 Z M 12 7 C 14.7733 7 17 9.22673 17 12 C 17 14.7733 14.7733 17 12 17 C 9.22673 17 7 14.7733 7 12 C 7 9.22673 9.22673 7 12 7 Z M 0 11 L 0 13 L 3 13 L 3 11 L 0 11 Z M 21 11 L 21 13 L 24 13 L 24 11 L 21 11 Z M 4.92969 17.6563 L 2.80859 19.7773 L 4.22266 21.1914 L 6.34375 19.0703 L 4.92969 17.6563 Z M 19.0703 17.6563 L 17.6563 19.0703 L 19.7773 21.1914 L 21.1914 19.7773 L 19.0703 17.6563 Z M 11 21 L 11 24 L 13 24 L 13 21 L 11 21 Z";
}

#contrast-label {
     -fx-max-width: 15px;
     -fx-max-height: 15px;
     -fx-min-width: 15px;
     -fx-min-height: 15px;
     -fx-pref-width: 15px;
     -fx-pref-height: 15px;
     -fx-background-color: -base-font-color;
     -fx-shape: "M163.167,265.5v39c0,4.143-3.357,7.5-7.5,7.5s-7.5-3.357-7.5-7.5v-39c0-4.143,3.357-7.5,7.5-7.5
               	S163.167,261.357,163.167,265.5z M155.667,0c-4.143,0-7.5,3.357-7.5,7.5v37c0,4.143,3.357,7.5,7.5,7.5s7.5-3.357,7.5-7.5v-37
               	C163.167,3.357,159.81,0,155.667,0z M53,155c0-4.143-3.357-7.5-7.5-7.5h-37c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5,7.5,7.5h37
               	C49.643,162.5,53,159.143,53,155z M303.5,147.5h-37c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5,7.5,7.5h37c4.143,0,7.5-3.357,7.5-7.5
               	S307.643,147.5,303.5,147.5z M73.138,228.563l-26.26,26.26c-2.929,2.93-2.929,7.678,0,10.607c1.465,1.464,3.385,2.196,5.304,2.196
               	s3.839-0.732,5.304-2.196l26.26-26.26c2.929-2.93,2.929-7.678,0-10.607C80.815,225.636,76.067,225.636,73.138,228.563z
               	 M235.205,84.604c1.919,0,3.839-0.732,5.304-2.196l26.26-26.26c2.929-2.93,2.929-7.678,0-10.607c-2.93-2.928-7.678-2.928-10.607,0
               	l-26.26,26.26c-2.929,2.93-2.929,7.678,0,10.607C231.366,83.871,233.286,84.604,235.205,84.604z M57.485,45.54
               	c-2.93-2.928-7.678-2.928-10.607,0c-2.929,2.93-2.929,7.678,0,10.607l26.26,26.26c1.465,1.464,3.385,2.196,5.304,2.196
               	s3.839-0.732,5.304-2.196c2.929-2.93,2.929-7.678,0-10.607L57.485,45.54z M240.509,228.563c-2.93-2.928-7.678-2.928-10.607,0
               	c-2.929,2.93-2.929,7.678,0,10.607l26.26,26.26c1.465,1.464,3.385,2.196,5.304,2.196s3.839-0.732,5.304-2.196
               	c2.929-2.93,2.929-7.678,0-10.607L240.509,228.563z M246.097,154.923c0,49.226-40.048,89.273-89.273,89.273
               	s-89.274-40.048-89.274-89.273c0-49.227,40.049-89.274,89.274-89.274S246.097,105.696,246.097,154.923z M155.167,80.671
               	c-40,0.485-73.374,33.533-73.374,74.251s33.374,73.766,73.374,74.251V80.671z";
}

#saturation-label {
    -fx-max-width: 15px;
    -fx-max-height: 15px;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;
    -fx-background-color: -base-font-color;
    -fx-shape: "m695.523438 396.53125c-30.128907-61.136719-71.964844-125.480469-124.351563-191.230469-88.640625-111.25-175.996094-187.445312-179.675781-190.632812l-19.222656-16.6875-19.429688 16.449219c-3.675781 3.113281-91.148438 77.582031-179.867188 188-52.4375 65.265624-94.308593 129.535156-124.457031 191.042968-38.484375 78.511719-58.003906 153.019532-58.003906 221.4375 0 210.359375 171.148437 381.507813 381.515625 381.507813s381.511719-171.148438 381.511719-381.507813c0-66.757812-19.523438-140.226562-58.019531-218.378906zm0 0";
}

/* Tags */

#tag {
    -fx-background-color: -base-highlight-light-color;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 5px;
}

#tag-input-field {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-min-width: 65px;
    -fx-max-width: 65px;
}

#tag-label {
    -fx-font-size: 12 pt;
}


