@import "nord.css"
/* Variable Definitions */

* {
    /* Base colors */
    -base-background-color: -nord0;
    -base-background-light-color: -nord1;
    -base-highlight-color: -nord2;
    -base-highlight-light-color: -nord3;
    -base-alt-highlight-color: -nord10;
    -base-alt-highlight-light-color: -nord9;
    -base-font-color: -nord4;
    -base-font-highlight-color: -nord4;
    -base-colorful-component-color: -nord11;
    -base-alt-colorful-component-color: -nord12;

    -base-separator-line-color: derive(-base-background-color, -15%);
}

.root {
    /* Disable default blue glow focus indicator */
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/*** MENU ***/

/* Menu-bar */

.menu-bar {
    -fx-background-color: -base-background-color;
    -fx-padding: 0;
}

/* Menu-bar buttons */

.menu-bar .menu-button {
    -fx-background-color: -base-background-color;
}

/* Menu-bar buttons (hovered, showing submenus) */

.menu-bar .menu-button:hover, .menu-bar .menu-button:showing {
    -fx-background-color: -base-alt-highlight-color;
}

/* Menu-bar button labels */

.menu-bar .menu-button .label {
    -fx-text-fill: -base-font-color;
    -fx-font-size: 12 pt;
}

/* Menu-bar button (hovered, showing submenus) labels */

.menu-bar .menu-button:hover .label, .menu-bar .menu-button:showing .label {
    -fx-text-fill: -base-font-highlight-color;
}

/* Menu-items */

.menu-item {
    -fx-background-color: -base-background-color;
}

/* Menu-items (focused, hovered) */

.menu-item:focused, .menu-item:hover {
    -fx-background-color: -base-highlight-color;
}

/* Menu-items labels */

.menu-item .label {
    -fx-text-fill: -base-font-color;
    -fx-font-size: 12 pt;
}

/* Menu-items (focused, hovered) labels */

.menu-item:focused .label, .menu-item:hover .label {
    -fx-text-fill: -base-font-highlight-color;
}

/* Check-menu-items (checked) */

.check-menu-item:checked {
    -fx-mark-color: -base-font-color;
}

/*** CONTEXT MENU ***/

/* context menu */

.context-menu {
    -fx-padding: 0;
    -fx-background-color: -base-background-color;
}



/*** BUTTONS - default button styling ***/

/* buttons (focused, armed) */

.button, .button:focused, .button:armed {
    -fx-background-color: transparent;
    -fx-text-fill: -base-font-color;
    -fx-background-insets: 0;
}

/* button (hovered) */

.button:hover {
    -fx-background-color: -base-highlight-color;
    -fx-text-fill: -base-font-highlight-color;
    -fx-background-insets: 0;
}

/* button (pressed) */

.button:pressed {
    -fx-background-color: -base-highlight-light-color;
    -fx-text-fill: -base-font-highlight-color;
    -fx-background-insets: 0;
}

/* delete button on BoundingBox Type selector items */

.delete-button {
    -fx-padding: 0;
    /*-fx-max-width: 18px;
    -fx-max-height: 18px;
    -fx-min-width: 18px;
    -fx-min-height: 18px;
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;*/
}

/* delete button (hovered) */

.delete-button:hover {
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%, -base-background-light-color, transparent);
}

/* delete button icon */

.delete-button .icon {
    -fx-background-color: -base-background-color;
    -fx-max-width: 10px;
    -fx-max-height: 10px;
    -fx-min-width: 10px;
    -fx-min-height: 10px;
    -fx-pref-width: 10px;
    -fx-pref-height: 10px;
    -fx-shape: "M 5.9902344,4.9902344 A 1.0001,1.0001 0 0 0 5.2929688,6.7070312 L 17.292969,18.707031 a
    1.0001,1.0001 0 1 0 1.414062,-1.414062 L 6.7070312,5.2929688 A 1.0001,1.0001 0 0 0 5.9902344,4.9902344
    Z m 11.9902346,0 a 1.0001,1.0001 0 0 0 -0.6875,0.3027344 L 5.2929688,17.292969 a 1.0001,1.0001 0 1 0
    1.4140624,1.414062 L 18.707031,6.7070312 A 1.0001,1.0001 0 0 0 17.980469,4.9902344 Z";


}

/* delete button (hovered) icon */

.delete-button:hover .icon {
    -fx-background-color: -base-alt-colorful-component-color;
}

/* BoundingBoxView */

#bounding-box-view {
    -fx-stroke-width: 3px;
}

/* Top panel (includes the menu-bar) */
.top-panel {
    -fx-background-color: -base-background-color;
}

/* settings box (right side panel) */

.settings-box {
    -fx-background-color: -base-background-color;
    -fx-padding: 0 15px;
}

/* separators */

.separator .line{
    -fx-border-width: 1px;
    -fx-border-color: -base-separator-line-color;
}

/* For SeparatorMenuItems */
.context-menu .separator:horizontal .line {
    -fx-border-color: -base-background-light-color;
    -fx-border-width: 1px;
    -fx-border-insets: 0;
}

/* tool bar */

.tool-bar {
    -fx-background-color: -base-background-color;
    -fx-padding: 0 5px;
}

#image-settings-menu-button {
     -fx-max-width: 15px;
     -fx-max-height: 15px;
     -fx-min-width: 15px;
     -fx-min-height: 15px;
     -fx-pref-width: 15px;
     -fx-pref-height: 15px;
     -fx-background-color: -base-font-color;
     -fx-rotate: 90;
     -fx-shape: "m 17,15 a 1.0001,1.0001 0 1 0 0,2 h 6 a 1.0001,1.0001 0 1 0 0,-2 z M 9,7 a 1.0001,1.0001 0 1 0 0,2 h 6 a 1.0001,1.0001 0 1 0 0,-2 z m -8,6 a 1.0001,1.0001 0 1 0 0,2 H 7 A 1.0001,1.0001 0 1 0 7,13 Z M 19.984375,1.9863281 A 1.0001,1.0001 0 0 0 19,3 v 9 a 1.0001,1.0001 0 1 0 2,0 V 3 A 1.0001,1.0001 0 0 0 19.984375,1.9863281 Z m 0,12.9999999 A 1.0001,1.0001 0 0 0 19,16 v 5 a 1.0001,1.0001 0 1 0 2,0 v -5 a 1.0001,1.0001 0 0 0 -1.015625,-1.013672 z m -8,-12.9999999 A 1.0001,1.0001 0 0 0 11,3 v 5 a 1.0001,1.0001 0 1 0 2,0 V 3 A 1.0001,1.0001 0 0 0 11.984375,1.9863281 Z m 0,8.9999999 A 1.0001,1.0001 0 0 0 11,12 v 9 a 1.0001,1.0001 0 1 0 2,0 v -9 a 1.0001,1.0001 0 0 0 -1.015625,-1.013672 z m -8,-8.9999999 A 1.0001,1.0001 0 0 0 3,3 v 7 a 1.0001,1.0001 0 1 0 2,0 V 3 A 1.0001,1.0001 0 0 0 3.984375,1.9863281 Z m 0,10.9999999 A 1.0001,1.0001 0 0 0 3,14 v 7 a 1.0001,1.0001 0 1 0 2,0 V 14 A 1.0001,1.0001 0 0 0 3.984375,12.986328 Z";
}

#image-settings-menu-button .menu-item {
    -fx-padding: 10px 10px;
}

#image-settings-menu-button > .arrow-button {
 -fx-padding: 0;
}

#image-settings-menu-button > .arrow-button > .arrow {
 -fx-padding: 0;
}

#image-settings-menu-button:hover {
-fx-background-color: -base-colorful-component-color;
}

/* underline mnemonic */

.mnemonic-underline {
    -fx-stroke: -base-font-color;
}

/* color-picker button */

.color-picker {
    -fx-color-label-visible: false;
    -fx-color: transparent;
    -fx-background-color: transparent;
}

/* color-picker (hovered) */

.color-picker:hover {
    -fx-background-color: -base-highlight-color;
}

/* color-picker arrow */

.color-picker .arrow-button .arrow {
    -fx-background-color: -base-font-color;
}

/* color-picker context */

.color-picker .context-menu {
    -fx-background-color: transparent;
}

/* color-picker text label */

.color-picker .color-picker-label .text {
    -fx-fill: -base-font-color;
}

/* color palette */

.color-palette {
    -fx-background-color: -base-background-color;
}

.color-palette .text {
    -fx-fill: -base-font-color;
}

.color-palette .text:hover {
    -fx-fill: -base-alt-highlight-light-color;
}

/* custom color dialog window */

.custom-color-dialog {
    -fx-background-color: -base-background-color;
    -fx-color: -base-background-light-color;
}

.custom-color-dialog .color-rect-pane .color-rect-border {
    -fx-border-color: -base-background-color;
}

.custom-color-dialog .color-rect-pane .color-bar {
    -fx-border-color: -base-background-color;
}

.custom-color-dialog>.color-rect-pane>.color-bar>#color-bar-indicator {
    -fx-border-color: -base-font-color;
}

.custom-color-dialog .controls-pane .current-new-color-grid #current-new-color-border {
    -fx-border-color: -base-highlight-color;
}

.custom-color-dialog .controls-pane .customcolor-controls-background {
    -fx-background-color: -base-highlight-color, -base-background-light-color;
}

/* slider */

.slider .track {
    -fx-control-inner-background: -base-font-color;
    /*-fx-padding: 2px;*/
}

.slider .thumb {
    -fx-background-color: -base-colorful-component-color;
    -fx-effect: none;
}

.slider .thumb:hover {
    -fx-background-color: -base-font-color;
}

.slider .thumb:pressed {
    -fx-background-color: -base-font-color;
}

#image-settings-menu-button .custom-menu-item:focused .slider .track {
    -fx-background-insets: 0 0 -1 0;
    -fx-background-radius: 0.25em;
}

#image-settings-menu-button .custom-menu-item:focused {
    -fx-background-color: -base-background-color;
}


/* label */

.label {
    -fx-text-fill: -base-font-color;
    -fx-font-size: 14 pt;
}

/* side-panel */

.side-panel {
    -fx-background-color: -base-background-color;
    -fx-padding: 3px 5px 0 5px;
    -fx-pref-width: 260px;
    -fx-min-width: 260px;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: -base-separator-line-color;
    -fx-border-width: 2px;
}

.side-panel > .label {
    -fx-font-weight: bold;
}

/* table-view */

.table-view {
    -fx-background-color: transparent;
    -fx-color: -base-background-color;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

#bounding-box-explorer-top-panel > .label {
    -fx-font-weight: bold;
}

/* table view scroll bars */

.table-view .scroll-bar, .table-view .scroll-bar .track, .table-view .scroll-bar .track-background {
    -fx-background-color: transparent;
    -fx-effect: none;
}

.table-view .scroll-bar .thumb {
    -fx-background-color: -base-font-color;
}

.table-view .scroll-bar .thumb:hover {
    -fx-background-color: -base-alt-highlight-color;
}

.table-view .scroll-bar:vertical .decrement-button, .table-view .scroll-bar:vertical .increment-button {
    -fx-padding: 0 1px;
    -fx-opacity: 0;
}

.table-view .scroll-bar:horizontal .decrement-button, .table-view .scroll-bar:horizontal .increment-button {
    -fx-padding: 1px 0;
    -fx-opacity: 0;
}

/* table-view cells */

.table-view .table-cell {
    -fx-text-fill: -base-font-color;
}

.table-row-cell {
    -fx-background-color: -base-background-color, -base-background-light-color;
    -fx-table-cell-border-color: transparent;
    -fx-border-width: 0;
}

.table-row-cell:selected .table-cell {
    -fx-background-color: -base-highlight-light-color;
    -fx-text-fill: -base-font-color;
}

.table-row-cell:selected .table-cell:selected {
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0;
}

.table-row-cell:hover {
    -fx-background-color: -base-highlight-color;
}

.noheader-table-view {
    /*-fx-max-width: 200px;*/
    -fx-max-height: 300px;
}


.noheader-table-view .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

/* text fields */

.text-field {
    -fx-background-color: -base-highlight-light-color;
    -fx-text-fill: -base-font-color;
    -fx-background-radius: 0;
    -fx-accent: -base-alt-highlight-color;
}

.text-field-table-cell .text-field {
    -fx-padding: 0;
}

.text-field-table-cell .color-picker {
    -fx-padding: 0;
}

/* pane */

.pane {
    -fx-background-color: -base-background-light-color;
}

.settings-item-box {
    -fx-padding: 20px 0;
}

.bounding-box-name-text-field {
}

.bounding-box-color-picker {
    -fx-max-width: 50px;
    -fx-max-height: 25px;
}

.bounding-box-tree-view {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}


.bounding-box-tree-view .tree-cell {
    -fx-background-color: -base-background-light-color;
    -fx-text-fill: -base-font-color;
}

/* tree-view */

.tree-view {
    -fx-background-color: -base-background-light-color;
}

.tree-cell > .tree-disclosure-node > .arrow,
.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-rotate: 0;
    -fx-background-color: -base-font-color;
}

.tree-cell:expanded > .tree-disclosure-node > .arrow,
.tree-table-row-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-rotate: 90;
}

.tree-view .scroll-bar,
.tree-view .scroll-bar .track,
.tree-view .scroll-bar .track-background {
    -fx-background-color: transparent;
    -fx-effect: none;
}

.tree-view .scroll-bar .thumb {
    -fx-background-color: -base-font-color;
}

.tree-view .scroll-bar .thumb:hover {
    -fx-background-color: -base-alt-highlight-color;
}

.tree-view .scroll-bar:vertical .decrement-button, .tree-view .scroll-bar:vertical .increment-button {
    -fx-padding: 0 1px;
    -fx-opacity: 0;
}

.tree-view .scroll-bar:horizontal .decrement-button, .tree-view .scroll-bar:horizontal .increment-button {
    -fx-padding: 1px 0;
    -fx-opacity: 0;
}

.tree-view .tree-cell {
    -fx-padding: 0.1em 0;
}

.tree-view .tree-cell:hover {
    -fx-background-color: -base-highlight-color;
}

.tree-view .tree-cell:selected{
    -fx-background-color: -base-highlight-light-color;
}

.tree-view .tree-cell:empty {
    -fx-background-color: transparent;
}

.tree-view .tree-cell:dragged-over {
    -fx-background-color: -base-colorful-component-color;
}

/* progress indicator */

.progress-indicator {
    -fx-background-color: transparent;
    -fx-accent: -base-font-color;
}

/* bottom bar */
.status-panel {
    -fx-background-color: -base-background-color;
    -fx-padding: 5px;
}

/* context-menu menu-item */
#delete-context-menu:hover {
    -fx-background-color: -base-colorful-component-color;
    -fx-accent: -base-background-color;
}

.toggle-icon-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.toggle-icon-button:hover {
    -fx-background-color: -base-highlight-color;
}

.image-explorer-side-panel {
    -fx-background-color: -base-background-color;
    -fx-padding: 3px 0 0 0;
    -fx-pref-width: 260px;
    -fx-min-width: 260px;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: -base-separator-line-color;
    -fx-border-width: 2px;
}

.image-explorer-side-panel > .label {
    -fx-padding: 0 5px 0 5px;
    -fx-font-weight: bold;
}

#file-search-box {
    -fx-padding: 0 5px 0 5px;
}


.list-view{
    -fx-background-color: transparent;
    -fx-color: -base-background-color;
    -fx-padding: 0 5px 0 0;

}

.list-view:focused {
    -fx-background-color: transparent;
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -base-font-color;
    -fx-padding: 5px;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.list-view .list-cell:empty {
    -fx-opacity: 0;
    -fx-padding: 5px;
}

.list-view .list-cell:selected,
.list-view .list-cell:selected {
    -fx-background-color: -base-colorful-component-color;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-padding: 5px;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused{
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-padding: 5px;
}

/* split-pane */
.split-pane {
    -fx-background-color: -base-background-light-color;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: -base-separator-line-color;
   -fx-background-insets: 0;
   -fx-padding: 1px;
}

/* Image settings */
#brightness-label {
     -fx-max-width: 20px;
     -fx-max-height: 20px;
     -fx-min-width: 20px;
     -fx-min-height: 20px;
     -fx-background-color: -base-font-color;
     -fx-shape: "m 19.759766,3.2109375 a 1.0001,1.0001 0 0 0 -0.6875,0.3027344 l -1.419922,1.4199219 a 1.0001,1.0001 0 1 0
     1.414062,1.4140624 L 20.486328,4.9277344 A 1.0001,1.0001 0 0 0 19.759766,3.2109375 Z M 5.6210938,17.349609 a 1.0001,1.0001
     0 0 0 -0.6875,0.302735 l -1.4199219,1.419922 a 1.0001,1.0001 0 1 0 1.4140625,1.414062 L 6.3476562,19.066406 A 1.0001,1.0001 0
     0 0 5.6210938,17.349609 Z M 21,11 a 1.0001,1.0001 0 1 0 0,2 h 2 a 1.0001,1.0001 0 1 0 0,-2 z M 1,11 a 1.0001,1.0001 0 1 0 0,2
     h 2 a 1.0001,1.0001 0 1 0 0,-2 z m 17.349609,6.349609 a 1.0001,1.0001 0 0 0 -0.697265,1.716797 l 1.419922,1.419922 a 1.0001,1.0001
     0 1 0 1.414062,-1.414062 L 19.066406,17.652344 A 1.0001,1.0001 0 0 0 18.349609,17.349609 Z M 4.2089844,3.2089844 a 1.0001,1.0001
     0 0 0 -0.6953125,1.71875 L 4.9335938,6.3476562 A 1.0001,1.0001 0 1 0 6.3476562,4.9335938 L 4.9277344,3.5136719 A 1.0001,1.0001 0
     0 0 4.2089844,3.2089844 Z M 11.984375,19.986328 A 1.0001,1.0001 0 0 0 11,21 v 2 a 1.0001,1.0001 0 1 0 2,0 v -2 a 1.0001,1.0001 0
     0 0 -1.015625,-1.013672 z m 0,-19.99999988 A 1.0001,1.0001 0 0 0 11,1 v 2 a 1.0001,1.0001 0 1 0 2,0 V 1 A 1.0001,1.0001 0 0 0
     11.984375,-0.01367188 Z M 12,6 c -3.3018639,0 -6,2.6981361 -6,6 0,3.301864 2.6981361,6 6,6 3.301864,0 6,-2.698136 6,-6 0,-3.3018639
     -2.698136,-6 -6,-6 z m 0,2 c 2.220984,0 4,1.7790164 4,4 0,2.220984 -1.779016,4 -4,4 C 9.7790164,16 8,14.220984 8,12 8,9.7790164
     9.7790164,8 12,8 Z";
}

#contrast-label {
     -fx-max-width: 20px;
     -fx-max-height: 20px;
     -fx-min-width: 20px;
     -fx-min-height: 20px;
     -fx-background-color: -base-font-color;
     -fx-shape: "M 12.116834,12.00131 V 8.0283286 h 0.139109 c 0.413066,0 1.177123,0.2148259 1.622666,0.4562365 0.970165,0.5256691
     1.682961,1.424715 1.962626,2.4754499 0.603052,2.265748 -0.833675,4.531676 -3.144111,4.958716 -0.165328,0.03056 -0.363528,0.05556
     -0.440443,0.05556 H 12.116834 Z M 12.05,8 v 8.089992 M 19.759766,3.2109375 a 1.0001,1.0001 0 0 0 -0.6875,0.3027344 l -1.419922,1.4199219
     a 1.0001,1.0001 0 1 0 1.414062,1.4140624 L 20.486328,4.9277344 A 1.0001,1.0001 0 0 0 19.759766,3.2109375 Z M 5.6210938,17.349609 a 1.0001,1.0001
     0 0 0 -0.6875,0.302735 l -1.4199219,1.419922 a 1.0001,1.0001 0 1 0 1.4140625,1.414062 L 6.3476562,19.066406 A 1.0001,1.0001 0 0 0 5.6210938,
     17.349609 Z M 21,11 a 1.0001,1.0001 0 1 0 0,2 h 2 a 1.0001,1.0001 0 1 0 0,-2 z M 1,11 a 1.0001,1.0001 0 1 0 0,2 h 2 a 1.0001,1.0001 0 1 0 0,-2
     z m 17.349609,6.349609 a 1.0001,1.0001 0 0 0 -0.697265,1.716797 l 1.419922,1.419922 a 1.0001,1.0001 0 1 0 1.414062,-1.414062 L 19.066406,17.652344
     A 1.0001,1.0001 0 0 0 18.349609,17.349609 Z M 4.2089844,3.2089844 a 1.0001,1.0001 0 0 0 -0.6953125,1.71875 L 4.9335938,6.3476562 A 1.0001,1.0001
     0 1 0 6.3476562,4.9335938 L 4.9277344,3.5136719 A 1.0001,1.0001 0 0 0 4.2089844,3.2089844 Z M 11.984375,19.986328 A 1.0001,1.0001 0 0 0 11,21 v 2
     a 1.0001,1.0001 0 1 0 2,0 v -2 a 1.0001,1.0001 0 0 0 -1.015625,-1.013672 z m 0,-19.99999988 A 1.0001,1.0001 0 0 0 11,1 v 2 a 1.0001,1.0001 0
     1 0 2,0 V 1 A 1.0001,1.0001 0 0 0 11.984375,-0.01367188 Z M 12,6 c -3.3018639,0 -6,2.6981361 -6,6 0,3.301864 2.6981361,6 6,6 3.301864,0 6,-2.698136
      6,-6 0,-3.3018639 -2.698136,-6 -6,-6 z m 0,2 c 2.220984,0 4,1.7790164 4,4 0,2.220984 -1.779016,4 -4,4 C 9.7790164,16 8,14.220984 8,12 8,9.7790164
       9.7790164,8 12,8 Z";
}

#saturation-label {
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-background-insets: 1 2;
    -fx-background-color: -base-font-color;
    -fx-shape: "M 11.984375,1.6894531 A 1.0001,1.0001 0 0 0 11.292969,1.984375 L 5.6425781,7.6425781 C 2.8361877,10.44713 2.3970528,
    14.330002 3.6894531,17.451172 c 1.2924004,3.12117 4.349289,5.55664 8.3164059,5.55664 3.967118,10e-7 7.022053,-2.43547 8.314453,-5.55664
     1.292401,-3.12117 0.853266,-7.004042 -1.953124,-9.8085939 L 12.707031,1.9824219 A 1.0001,1.0001 0 0 0 11.984375,1.6894531 Z M 12,4.1035156
     l 4.953125,4.953125 c 2.236225,2.2347604 2.533251,5.1807534 1.519531,7.6289064 -1.01372,2.448152 -3.30578,4.322265 -6.466797,4.322265 -3.1610163,10e-7
      -5.4550295,-1.874113 -6.4687496,-4.322265 C 4.5233892,14.237394 4.8204152,11.291401 7.0566406,9.0566406 a 1.0001,1.0001 0 0 0 0.00195,0 z";
}

#event-time-stamp-label {
    -fx-text-fill: -base-alt-colorful-component-color;
}

/* Tags */

#tag {
    -fx-background-color: -base-highlight-light-color;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 5px;
}

#tag-input-field {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-pref-width: 65px;
    -fx-max-width: 100px;
}

#tag-label {
    -fx-font-size: 12 pt;
}

#tag-icon {
    -fx-max-width: 10px;
    -fx-max-height: 10px;
    -fx-min-width: 10px;
    -fx-min-height: 10px;
    -fx-pref-width: 10px;
    -fx-pref-height: 10px;
    -fx-background-color: derive(-base-font-color, -20%);
    /*-fx-shape: "M18.72 11L9 1.28A1 1 0 0 0 8.35 1H2a1 1 0 0 0-1 1v6.35a1 1 0 0 0 .28.65L11 18.72a1 1 0 0 0 1.37 0l6.38-6.38a1
    1 0 0 0-.03-1.34zM5 7a2 2 0 1 1 2-2 2 2 0 0 1-2 2z";*/
    -fx-shape: "M 7,6 A 1.0001,1.0001 0 1 0 7,8 1.0001,1.0001 0 1 0 7,6 Z M 2,1 A 1.0001,1.0001 0 0 0 1,2 v 10 a 1.0001,1.0001
    0 0 0 0.2929688,0.707031 l 8.5898437,8.580078 c 1.1634425,1.164738 3.0806985,1.164738 4.2441405,0 l 7.169922,-7.169921 a 1.0001,
    1.0001 0 0 0 0.002,-0.002 c 1.154974,-1.161867 1.154974,-3.068601 0,-4.2304684 a 1.0001,1.0001 0 0 0 -0.002,-0.00195 L 12.707031,
    1.2929688 A 1.0001,1.0001 0 0 0 12,1 Z m 1,2 h 8.585938 l 8.296874,8.296875 c 0.393937,0.398334 0.393306,1.010586 -0.002,1.408203
    l -7.167968,7.167969 c -0.399014,0.399458 -1.017002,0.399458 -1.416016,0 L 3,11.585938 Z";
}

.default-text {
    -fx-fill: -base-font-color;
}

#info-text {
    -fx-fill: -base-alt-colorful-component-color;
}

#category-name-text {
    -fx-font-weight: bold;
}

#tree-cell-content {
    -fx-spacing: 4px;
}

/* Hboxes */

.custom-menu-item-hbox {
    -fx-spacing: 5px;
}

#tag-editor-scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#tag-editor-scroll-pane {
    -fx-background-color: transparent;
    -fx-pref-height: 100px;
}

#eye-icon {
    -fx-max-width: 15px;
    -fx-max-height: 15px;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-background-insets: 1.5 0;
    -fx-background-radius: 0;

    -fx-background-size: 15px;
    /*-fx-scale-shape: false;*/
    -fx-background-color: -base-font-color;
    -fx-shape: "m 12 8 c -2.19729 0 -4 1.80271 -4 4 c 0 2.19729 1.80271 4 4 4 c 2.19729
    0 4 -1.80271 4 -4 c 0 -2.19729 -1.80271 -4 -4 -4 Z m 0 2 c 1.11641 0 2 0.883586
    2 2 c 0 1.11641 -0.883586 2 -2 2 c -1.11641 0 -2 -0.883586 -2 -2 c 0 -1.11641 0.883586
    -2 2 -2 Z M 12 3 C 4.2381 3 0.105469 11.5527 0.105469 11.5527 a 1.0001 1.0001 0 0 0 0
    0.894532 C 0.105469 12.4473 4.2381 21 12 21 c 7.76191 0 11.8945 -8.55273 11.8945 -8.55273
    a 1.0001 1.0001 0 0 0 0 -0.894532 C 23.8945 11.5527 19.7619 3 12 3 Z m 0 2 c 5.86339 0
    9.34766 6.20958 9.7793 7 C 21.3477 12.7904 17.8634 19 12 19 C 6.13661 19 2.65234 12.7904
    2.2207 12 C 2.65234 11.2096 6.13661 5 12 5 Z";
}

#previous-button-icon {
    -fx-max-width: 15px;
    -fx-max-height: 15px;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-background-size: 15px;
    /*-fx-scale-shape: false;*/
    -fx-background-color: -base-font-color;
    -fx-shape: "m 11.980469,3.9902344 a 1.0001,1.0001 0 0 0 -0.6875,0.3027344 L 4.2929688,11.292969 a
    1.0001,1.0001 0 0 0 0,1.414062 l 7.0000002,7 a 1.0001,1.0001 0 1 0 1.414062,-1.414062 L 6.4140625,
    12 12.707031,5.7070312 A 1.0001,1.0001 0 0 0 11.980469,3.9902344 Z M 5,11 a 1.0001,1.0001 0 1 0 0,
    2 h 14 a 1.0001,1.0001 0 1 0 0,-2 z";
}

#next-button-icon {
    -fx-max-width: 15px;
    -fx-max-height: 15px;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-background-size: 15px;
    /*-fx-scale-shape: false;*/
    -fx-background-color: -base-font-color;
    -fx-shape: "M 11.990234,3.9902344 A 1.0001,1.0001 0 0 0 11.292969,5.7070312 L 17.585938,12 11.292969,
    18.292969 a 1.0001,1.0001 0 1 0 1.414062,1.414062 l 7,-7 a 1.0001,1.0001 0 0 0 0,-1.414062 l -7,-7.0000002
    A 1.0001,1.0001 0 0 0 11.990234,3.9902344 Z M 5,11 a 1.0001,1.0001 0 1 0 0,2 h 14 a 1.0001,1.0001 0 1 0 0,-2 z";
}

#visibility-toggle-button {
    -fx-max-width: 17px;
    -fx-max-height: 17px;
    -fx-min-width: 17px;
    -fx-min-height: 17px;
    -fx-background-size: 17px;
    -fx-background-insets: 2 0;
    -fx-background-color: -base-font-color;
    -fx-shape: "m 12,8 c -2.1972944,0 -4,1.8027056 -4,4 0,2.197294 1.8027056,4 4,4 2.197294,0 4,-1.802706 4,-4 0,-2.1972944
    -1.802706,-4 -4,-4 z m 0,2 c 1.116414,0 2,0.883586 2,2 0,1.116414 -0.883586,2 -2,2 -1.116414,0 -2,-0.883586 -2,-2 0,-1.116414
    0.883586,-2 2,-2 z M 12,3 C 4.2380952,3 0.10546875,11.552734 0.10546875,11.552734 a 1.0001,1.0001 0 0 0 0,0.894532 C
    0.10546875,12.447266 4.2380952,21 12,21 c 7.761905,0 11.894531,-8.552734 11.894531,-8.552734 a 1.0001,1.0001 0 0 0
    0,-0.894532 C 23.894531,11.552734 19.761905,3 12,3 Z m 0,2 c 5.863389,0 9.347663,6.209584 9.779297,7 C 21.347663,12.790416
    17.863389,19 12,19 6.1366105,19 2.6523365,12.790416 2.2207031,12 2.6523365,11.209584 6.1366105,5 12,5 Z";
}

#visibility-toggle-button:selected {
    -fx-background-insets: 0;
    -fx-shape: "M 0.99023438,-0.00976563 A 1.0001,1.0001 0 0 0 0.29296875,1.7070312 L 22.292969,23.707031 a 1.0001,1.0001 0
    1 0 1.414062,-1.414062 L 1.7070312,0.29296875 A 1.0001,1.0001 0 0 0 0.99023438,-0.00976563 Z M 12,3 C 11.216203,2.99831
    10.435049,3.086986 9.671875,3.265625 a 1.0001,1.0001 0 1 0 0.455078,1.9472656 C 10.739811,5.0694367 11.368625,4.9985209
    11.998047,5 A 1.0001,1.0001 0 0 0 12,5 c 5.874762,0 9.369568,6.244269 9.789062,7.013672 -0.511587,0.884453 -1.056509,1.750827
    -1.714843,2.533203 a 1.000172,1.000172 0 1 0 1.53125,1.287109 c 0.873869,-1.038521 1.637511,-2.16629 2.277343,-3.363281 a
    1.0001,1.0001 0 0 0 0.01172,-0.917969 c 0,0 -4.131988,-8.5512371 -11.892578,-8.552734 z M 6.0742188,5.0507812 A 1.0001,1.0001 0
    0 0 5.453125,5.265625 C 3.2489489,6.9487583 1.4304414,9.083613 0.11914062,11.527344 a 1.0001,1.0001 0 0 0 -0.0136719,0.919922 C
    0.10546875,12.447266 4.2380952,21 12,21 a 1.0001,1.0001 0 0 0 0.01563,0 c 2.362391,-0.03862 4.652193,-0.833309 6.53125,-2.265625
    a 1.0001,1.0001 0 1 0 -1.212891,-1.589844 c -1.537605,1.172044 -3.408858,1.82018 -5.341796,1.853516 C 6.1232621,18.991804 2.6313764,
    12.759301 2.2109375,11.988281 3.3600953,10.010025 4.8446674,8.2462705 6.6660156,6.8554688 A 1.0001,1.0001 0 0 0 6.0742188,5.0507812
    Z M 9.8964844,8.8710938 A 1.0001,1.0001 0 0 0 9.1992188,9.1484375 C 8.2563892,10.026975 7.8196517,11.154835 7.8671875,12.205078 c
    0.047536,1.050243 0.528643,1.99544 1.2304687,2.697266 0.7018258,0.701825 1.6470228,1.182933 2.6972658,1.230468 1.050243,0.04754 2.178103,
    -0.389201 3.05664,-1.332031 A 1.0001,1.0001 0 1 0 13.388672,13.4375 c -0.533883,0.572953 -1.020638,0.719139 -1.503906,0.697266 -0.483269,
    -0.02187 -0.989033,-0.26247 -1.373047,-0.646485 C 10.127704,13.104267 9.8871079,12.598503 9.8652344,12.115234 9.8433608,11.631966 9.9895472,
    11.145211 10.5625,10.611328 A 1.0001,1.0001 0 0 0 9.8964844,8.8710938 Z";
}

#auto-show-toggle-button {
    -fx-max-width: 15px;
    -fx-max-height: 15px;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-background-size: 15px;
    -fx-background-color: -base-font-color;
    -fx-shape: "M 3,0 C 1.3552972,0 0,1.3552972 0,3 v 14 c 0,1.644703 1.3552972,3 3,3 h 1 v 1 c 0,1.644703 1.3552972,3 3,3 h 14 c 1.644703,0 3,
    -1.355297 3,-3 V 7 C 24,5.3552972 22.644703,4 21,4 H 20 V 3 C 20,1.3552972 18.644703,0 17,0 Z m 0,2 h 14 c 0.571297,0 1,0.4287028 1,1 V 4 H
    7 C 5.3552972,4 4,5.3552972 4,7 V 18 H 3 C 2.4287028,18 2,17.571297 2,17 V 3 C 2,2.4287028 2.4287028,2 3,2 Z m 4,4 h 11 v 11 c 0,0.571297
    -0.428703,1 -1,1 H 6 V 7 C 6,6.4287028 6.4287028,6 7,6 Z m 13,0 h 1 c 0.571297,0 1,0.4287028 1,1 v 14 c 0,0.571297 -0.428703,1 -1,1 H 7 C
    6.4287028,22 6,21.571297 6,21 v -1 h 11 c 1.644703,0 3,-1.355297 3,-3 z";
}

#auto-show-toggle-button:selected {
    -fx-shape: "M 3,0 C 1.3550014,0 0,1.3550014 0,3 V 6 A 1.0001,1.0001 0 1 0 2,6 V 3 C 2,2.4358817 2.4358817,2 3,2 H 6 A 1.0001,1.0001 0 1 0 6,0 Z m
    11,0 a 1.0001,1.0001 0 1 0 0,2 h 3 c 0.564118,0 1,0.4358817 1,1 V 4 H 7 C 5.3552972,4 4,5.3552972 4,7 V 18 H 3 C 2.4358817,18 2,17.564118 2,17
    v -3 a 1.0001,1.0001 0 1 0 -2,0 v 3 c 0,1.644999 1.3550014,3 3,3 h 1 v 1 c 0,1.644703 1.3552972,3 3,3 h 14 c 1.644703,0 3,-1.355297 3,-3 V 7
    C 24,5.3552972 22.644703,4 21,4 H 20 V 3 C 20,1.3550014 18.644999,0 17,0 Z M 7,6 h 11 a 1.0001,1.0001 0 1 0 2,0 h 1 c 0.571297,0 1,0.4287028
    1,1 v 14 c 0,0.571297 -0.428703,1 -1,1 H 7 C 6.4287028,22 6,21.571297 6,21 V 20 A 1.0001,1.0001 0 1 0 6,18 V 7 C 6,6.4287028 6.4287028,6 7,6
    Z m 11.984375,6.986328 A 1.0001,1.0001 0 0 0 18,14 v 3 c 0,0.564118 -0.435882,1 -1,1 h -3 a 1.0001,1.0001 0 1 0 0,2 h 3 c 1.644999,0 3,-1.355001
    3,-3 v -3 a 1.0001,1.0001 0 0 0 -1.015625,-1.013672 z";
}

#expansion-toggle-button {
    -fx-max-width: 15px;
    -fx-max-height: 15px;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-background-size: 15px;
    -fx-background-color: -base-font-color;
    -fx-shape: "m 9.9804688,12.990234 a 1.0001,1.0001 0 0 0 -0.6875,0.302735 l -7,7 a 1.0001,1.0001 0 1 0 1.4140624,1.414062 l 6.9999998,-7 A 1.0001,1.0001 0
        0 0 9.9804688,12.990234 Z M 20.980469,1.9902344 a 1.0001,1.0001 0 0 0 -0.6875,0.3027344 l -7,7 a 1.0001,1.0001 0 1 0 1.414062,1.4140622 l 7,-6.9999998 A
        1.0001,1.0001 0 0 0 20.980469,1.9902344 Z M 13.984375,2.9863281 A 1.0001,1.0001 0 0 0 13,4 v 6 a 1.0001,1.0001 0 0 0 1,1 h 6 A 1.0001,1.0001 0 1 0 20,9 H
        15 V 4 A 1.0001,1.0001 0 0 0 13.984375,2.9863281 Z M 4,13 a 1.0001,1.0001 0 1 0 0,2 h 5 v 5 a 1.0001,1.0001 0 1 0 2,0 v -6 a 1.0001,1.0001 0 0 0 -1,-1 z";
}

#expansion-toggle-button:selected {
    -fx-shape: "m 9.9804688,12.990234 a 1.0001,1.0001 0 0 0 -0.6875,0.302735 l -7,7 a 1.0001,1.0001 0 1 0 1.4140624,1.414062 l 6.9999998,-7 A 1.0001,1.0001
        0 0 0 9.9804688,12.990234 Z M 20.980469,1.9902344 a 1.0001,1.0001 0 0 0 -0.6875,0.3027344 l -7,7 a 1.0001,1.0001 0 1 0 1.414062,1.4140622 l 7,-6.9999998
        A 1.0001,1.0001 0 0 0 20.980469,1.9902344 Z M 2.984375,13.986328 A 1.0001,1.0001 0 0 0 2,15 v 6 a 1.0001,1.0001 0 0 0 1,1 H 9 A 1.0001,1.0001 0 1 0 9,20
        H 4 V 15 A 1.0001,1.0001 0 0 0 2.984375,13.986328 Z M 15,2 a 1.0001,1.0001 0 1 0 0,2 h 5 v 5 a 1.0001,1.0001 0 1 0 2,0 V 3 A 1.0001,1.0001 0 0 0 21,2 Z";
}

#search-icon {
    -fx-max-width: 15px;
    -fx-max-height: 15px;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-background-size: 15px;
    -fx-background-color: -base-font-color;
    -fx-shape: "m 16.638672,15.640625 a 1.0001,1.0001 0 0 0 -0.695313,1.716797 l 4.34961,4.349609 a 1.0001,1.0001 0 1 0 1.414062,-1.414062 l -4.349609,
    -4.34961 a 1.0001,1.0001 0 0 0 -0.71875,-0.302734 z M 11,2 c -4.9587181,0 -9,4.0412819 -9,9 0,4.958718 4.0412819,9 9,9 4.958718,0 9,-4.041282 9,-9
    0,-4.9587181 -4.041282,-9 -9,-9 z m 0,2 c 3.877838,0 7,3.1221621 7,7 0,3.877838 -3.122162,7 -7,7 C 7.1221621,18 4,14.877838 4,11 4,7.1221621 7.1221621,
    4 11,4 Z";
}

#search-icon-label {
    -fx-padding: 0 0 0 5px;
    -fx-min-height: 25px;
    -fx-max-height: 25px;
    -fx-background-color: -base-highlight-light-color;
}

